.footer {
    padding: 1rem 0;
    text-align: center;
    margin-top: 35rem;
    /* background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #97dae18c 0%, #D9AFD9 127%); */
}

.footer-dos {
    padding: 4rem 0;
    text-align: center;
    margin-top: auto;
}

.footer-index {
    padding: 1rem 0;
    text-align: center;
    margin-top: 10rem;
}